{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
{% if create %}Create{% else %}Edit{% endif %} recipe
{% endblock %}

{% block extrahead %}
<script type="text/javascript">
    function upload_img(id, input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#img_'+id).attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
{% endblock %}

{% block heading %}
<h2>
    {% if create %}
    Create recipe
    {% else %}
    Edit recipe
    {% endif %}
</h2>
<hr>
{% endblock %}

{% block content %}
{% if create %}
{% url "recipe_create" as action_url %}
{% else %}
{% url "recipe_edit" pk=form.instance.pk as action_url %}
{% endif %}

<form action="{{ action_url }}" enctype="multipart/form-data" method="post" accept-charset="utf-8">
    {% csrf_token %}

    <!-- General RECIPE form -->
    <div class="row spacer">
        {{ recipe_form | crispy }}
    </div>

    <!-- Ingredients subform -->
    {{ ingredients_form.management_form }}
    <div class="row spacer">
        <h3>Ingredients</h3>
        <hr>
        <table id="id_ingredients_table" border="0" cellpadding="0" cellspacing="25">
            <thead>
                <tr>
                    <th scope="col">Quantity</th>
                    <th scope="col">Units</th>
                    <th scope="col">Raw Material</th>
                </tr>
            </thead>
            <tbody>
                {% for ing in ingredients_form %}
                <tr id="{{ ing.prefix }}-ingredients-row" class="form-container">
                    <td>{{ ing.quantity }}</td>
                    <td>{{ ing.units }}</td>
                    <td>{{ ing.name }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Images subform -->
    {{ images_form.management_form }}

    <div class="row spacer">
        <h3>Images</h3>
        <hr>
        <!-- {{ images_form.as_table }} -->
        <table id="id_images_table" border="0" cellpadding="0" cellspacing="25">
            <thead>
                <tr>
                    <th scope="col">Image 1</th>
                    <th scope="col">Image 2</th>
                    <th scope="col">Image 3</th>
                    <th scope="col">Image 4</th>
                    <th scope="col">Image 5</th>
                </tr>
            </thead>
            <tbody>
                <tr id="{{ images_form.prefix }}-images-upload-row" class="form-container">
                        <td>
                            <input type="file" name="images_form-0-document" id="id_images_form-0-document" onchange="upload_img(0, this);"/>
                            <input type="hidden" name="images_form-0-id" id="id_images_form-0-id" /></p>
                        </td>
                        <td>
                            <input type="file" name="images_form-1-document" id="id_images_form-1-document" onchange="upload_img(1, this);"/>
                            <input type="hidden" name="images_form-1-id" id="id_images_form-1-id" /></p>
                        </td>
                        <td>
                            <input type="file" name="images_form-1-document" id="id_images_form-2-document" onchange="upload_img(2, this);"/>
                            <input type="hidden" name="images_form-1-id" id="id_images_form-2-id" /></p>
                        </td>
                        <td>
                            <input type="file" name="images_form-1-document" id="id_images_form-3-document" onchange="upload_img(3, this);"/>
                            <input type="hidden" name="images_form-1-id" id="id_images_form-3-id" /></p>
                        </td>
                        <td>
                            <input type="file" name="images_form-1-document" id="id_images_form-4-document" onchange="upload_img(4, this);"/>
                            <input type="hidden" name="images_form-1-id" id="id_images_form-4-id" /></p>
                        </td>
                </tr>
                <tr id="{{ images_form.prefix }}-images-display-row" class="form-container">
                    <td><img id="img_0" src="#" alt="None" width="240"/></td>
                    <td><img id="img_1" src="#" alt="None" width="240"/></td>
                    <td><img id="img_2" src="#" alt="None" width="240"/></td>
                    <td><img id="img_3" src="#" alt="None" width="240"/></td>
                    <td><img id="img_4" src="#" alt="None" width="240"/></td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Submission and cancel buttons -->
    <p>&nbsp</p>
    <hr>
    <div class="row spacer" align="center">
        <input type="submit" class="btn btn-success" value="Save Recipe">
        &nbsp;&nbsp;
        <button type="button" class="btn btn-danger">Cancel</button>
    </div>
</form>
{% endblock %}
