{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
{% if create %}Create{% else %}Edit{% endif %} recipe
{% endblock %}

{% block heading %}
<h2>
    {% if create %}
    Create recipe
    {% else %}
    Edit recipe
    {% endif %}
</h2>
{% endblock %}

{% block content %}
{% if create %}
{% url "recipe_create" as action_url %}
{% else %}
{% url "recipe_edit" pk=form.instance.pk as action_url %}
{% endif %}
<form action="{{ action_url }}" method="post" accept-charset="utf-8">
    {% csrf_token %}

    <div class="row spacer">
        {{ recipe_form|crispy }}
    </div>

    {{ ingredients_form.management_form }}
    {% for form in ingredients_form %}
    <div class="row form-row spacer">
        <div class="col-2">
            <label>Ingredients</label>
        </div>
        <table>
            <tr>
                <td>Quantity</td>
                <td>Units</td>
                <td>Raw Material</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>{{ form.quantity }}</td>
                <td>{{ form.units }}</td>
                <td>{{ form.name }}</td>
                <td><button class="btn btn-success add-form-row">+</button></td>
            </tr>
        </table>
    </div>
    {% endfor %}

    {{ images_form.management_form }}
    {% for form in images_form %}
    <div class="row form-row spacer">
        <div class="col-2">
            <label>Images</label>
        </div>
        <div class="col-4">
            <div class="input-group">
                <input type="file" name="image_file">
                <button class="btn btn-success add-form-row">+</button>
            </div>
        </div>
    </div>
    {% endfor %}

    <p>&nbsp</p>
    <div class="row spacer" align="center">
        <input type="submit" class="btn btn-success" value="Save Recipe">
        &nbsp;&nbsp;
        <button type="button" class="btn btn-danger">Cancel</button>
    </div>
</form>
{% endblock %}

<script type='text/javascript'>
function updateElementIndex(el, prefix, ndx) {
    var id_regex = new RegExp('(' + prefix + '-\\d+)');
    var replacement = prefix + '-' + ndx;
    if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
    if (el.id) el.id = el.id.replace(id_regex, replacement);
    if (el.name) el.name = el.name.replace(id_regex, replacement);
}
function cloneMore(selector, prefix) {
    var newElement = $(selector).clone(true);
    var total = $('#id_' + prefix + '-TOTAL_FORMS').val();
    newElement.find(':input').each(function() {
        var name = $(this).attr('name').replace('-' + (total-1) + '-', '-' + total + '-');
        var id = 'id_' + name;
        $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
    });
    total++;
    $('#id_' + prefix + '-TOTAL_FORMS').val(total);
    $(selector).after(newElement);
    var conditionRow = $('.form-row:not(:last)');
    conditionRow.find('.btn.add-form-row')
    .removeClass('btn-success').addClass('btn-danger')
    .removeClass('add-form-row').addClass('remove-form-row')
    .html('<span class="glyphicon glyphicon-minus" aria-hidden="true"></span>');
    return false;
}
function deleteForm(prefix, btn) {
    var total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
    if (total > 1){
        btn.closest('.form-row').remove();
        var forms = $('.form-row');
        $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
        for (var i=0, formCount=forms.length; i<formCount; i++) {
            $(forms.get(i)).find(':input').each(function() {
                updateElementIndex(this, prefix, i);
            });
        }
    }
    return false;
}
$(document).on('click', '.add-form-row', function(e){
    e.preventDefault();
    cloneMore('.form-row:last', 'form');
    return false;
});
$(document).on('click', '.remove-form-row', function(e){
    e.preventDefault();
    deleteForm('form', $(this));
    return false;
});
</script>
